.job-board-container:first-of-type
    margin-top: 0 
.board-menu
    align-self: flex-end
    color: white
    font-size: 25px
    margin: 10px 15px
    border: 0
    background-color: $dark-green
    cursor: pointer

.board-title 
    color: white
    text-transform: capitalize
    font-family: $body-font
    font-weight: 600
    margin-top: -10px
    margin-left: 35px