.job-board-container
    display: flex
    flex-direction: column
    width: 400px
    border-radius: 20px
    background-color: $dark-green
    min-height: 200px
    position: relative
    margin: 25px 5px

.board-menu
    align-self: flex-end
    color: white
    font-size: 25px
    margin: 10px 15px
    border: 0
    background-color: $dark-green
    cursor: pointer

.board-title 
    color: white
    text-transform: capitalize
    font-family: $body-font
    font-weight: 600
    margin-top: -10px
    margin-left: 35px