.myjobsearch-container
    margin-top: 150px
    display: flex
    overflow-x: hidden

.results-container, .board-container
    display: flex
    flex-direction: column
    align-items: center

@media screen and (min-width: 800px)
    .myjobsearch-container
        width: 800px
        margin: 0 auto
        margin-top: 150px
        flex-wrap: wrap
    .results-container, .board-container
        width: 400px