.customScroller
    margin-top: 30px

.myjobsearch-container
    margin-top: 100px
    display: flex
    overflow-x: hidden

.results-container, .board-container
    display: flex
    flex-direction: column
    align-items: center
    max-height: 150vh


@media screen and (min-width: 1000px)
    .myjobsearch-container
        width: 1000px
        margin: 0 auto
        margin-top: 150px
        flex-wrap: wrap
        justify-content: center
    .results-container
        width: 400px
    .board-container
        width: 400px
